@import 'mixins';
@import 'variables';

*
{
    @include basicStart();
}

.navigation-bar
{
    background-color: $backgroundColor;
    padding: 15px;
    border-radius: 20px;
    @include makeElementFlex(flex-end, center);

    .navigation-bar__list
    {
        @include makeElementFlex(center, center);
        @include changeFlexDirection(row);
    }
        .navigation-bar-list__element
        {
            @include changeListBehaviour();
            margin: 5px 10px;
            color: white;
        }
            a
            {
                text-decoration: none;
                color: white;
                padding: 20px;
                margin: 5px;
                border-radius: 40px 10px;

                &:hover
                {
                    color: black;
                    padding: 20px;
                    margin: 5px;
                    background-color: #50C878;
                    border-radius: 40px 10px;
                }
            }
}

footer
{
    padding: 20px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-family: 'Helvetica';
}
