@mixin basicStart()
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin makeElementFlex($justify, $align)
{
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin changeFlexDirection($direction)
{
    flex-direction: $direction
}

@mixin changeListBehaviour()
{
    list-style: none;
}

@mixin changeLinkBehaviour()
{
    text-decoration: none;
}

@mixin elementSize($width,$height)
{
    width: $width;
    height: $height;
}



